html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    background-color: #eee;

}


.menu-sidenav {
    position: fixed !important;
}
.menu-sidenav md-content {
    color: #3e3e3e;
}


.menu-sidenav.md-locked-open, .menu-sidenav {
    width: 256px;
    min-width: 256px;
    max-width: 256px;
}

.menu-heading {
    display: block;
    line-height: 32px;
    margin: 0;
    padding: 8px 16px 0;
    text-align: left;
    width: 100%;
    color: #888;
}

.view-frame {
    background-color: #ffffff;
    min-width: 300px;
    margin: 15px;
    padding: 5px;

}

.view-body {
    margin: 5px;
    padding-bottom: 20px;
}

@media (min-width: 600px) {
    .site-content-toolbar {
        margin-left: 256px;
    }
}

.site-content-toolbar {

    background: #f6f6f6 !important;
    color: #202020 !important;
    z-index: 3;
    position: fixed;
}

.site-content-toolbar .md-button md-icon {
    color: #666 !important;
}

@media (min-width: 600px) {
    .outer-view {
        margin-left: 256px;
    }
}

.outer-view {
    margin-top:64px;
    background-color: #eee !important;
}

.floating-icon {
    margin-bottom: 36px;
    margin-right: 36px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.list-item :hover {
    background-color: #f6f6f6 !important;
}

.list-item-active {
    background-color: #f6f6f6 !important;
}

.sku-search-input {
    padding: 10px;
}

.dialogdemoBasicUsage .dialog-demo-content div {
    text-align: center; }
.dialogdemoBasicUsage .md-subheader {
    background-color: #dcedc8;
    margin: 0; }


/*.header-user {*/
    /*font-size: small;*/
    /*bottom: 2px;*/
    /*position: absolute;*/
/*}*/

/*.action-icon {*/
    /*padding-left: 5px;*/
/*}*/

.lease-price {
    color: rgba(0,0,0,0.54);
    line-height: 1.5em;
    font-size: 13px;
}