<div ng-controller="LoginCtrl">
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="login-nav">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Login</h1>
        </md-toolbar>
        <md-content layout-padding>
            <form name="loginForm">
                <md-input-container>
                    <label for="testInput">User Id</label>
                    <input type="text" id="testInput"
                           ng-model="userId" md-sidenav-focus required>
                </md-input-container>

                <md-input-container>
                    <label for="testInput1">Password</label>
                    <input type="password" id="testInput1"
                           ng-model="password" required>
                </md-input-container>
                <div layout="row">
                    <div flex></div>
                    <md-button class="md-raised md-primary" ng-disabled="loginForm.$invalid" ng-click="login()">Login</md-button>
                </div>
            </form>
        </md-content>
    </md-sidenav>
</div>