<div layout="column" layout-align="top center" ng-controller="SkuConfigCtrl" flex>
    <md-button class="md-fab md-raised md-primary  floating-icon" aria-label="Add Sku" ng-click="addSkuDialog($event)">
        <md-icon md-font-library="material-icons">add</md-icon>
        <md-tooltip>
            Add new Sku
        </md-tooltip>
    </md-button>
    <md-whiteframe class="md-whiteframe-z1 view-frame" layout="column" flex>
        <div class="view-body">
            <md-input-container class="sku-search-input">
                <!-- Use floating label instead of placeholder -->
                <label>
                    <md-icon md-font-library="material-icons">search</md-icon>
                    Search Sku</label>
                <input ng-model="searchText" type="text">
            </md-input-container>
            <md-list ng-if="skuConfigs">
                <md-subheader class="md-no-sticky">Configured Skus</md-subheader>
                <md-list-item>
                    <div flex="25" flex-sm="30"><strong>Sku</strong></div>
                    <div flex="25" flex-sm="30"><strong>Carrier</strong></div>
                    <div flex="25" flex-sm="30"><strong>IB Full Price</strong></div>
                    <div flex="15" show-gt-md hide><strong>Lease Prices</strong></div>
                    <div flex="10"></div>
                    <!--<p><strong>Lease Prices</strong></p>-->

                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
                <md-list-item class="list-item" ng-repeat="skuConfig in skuConfigs | filter:searchText"
                              ng-click="goToSku(skuConfig.name, $event)" ng-mouseenter="skuConfig.showAction = true"
                              ng-mouseleave="skuConfig.showAction = false">
                    <div flex="25" flex-sm="30">{{ skuConfig.sku }}</div>
                    <div flex="25" flex-sm="30">{{ skuConfig.carrier }}</div>
                    <div flex="25" flex-sm="30">{{ skuConfig.price | currency}}</div>
                    <div flex="15" layout="column" show-gt-md hide>
                        <div class="lease-price" ng-if="skuConfig.leastTerm1MonthlyPrice">
                            Term 1 - {{ skuConfig.leastTerm1MonthlyPrice | currency}} / Mo.
                        </div>
                        <div class="lease-price" ng-if="skuConfig.leastTerm2MonthlyPrice">
                            Term 2 - {{ skuConfig.leastTerm2MonthlyPrice | currency}} / Mo.
                        </div>
                        <div class="lease-price" ng-if="skuConfig.leastTerm3MonthlyPrice">
                            Term 3 - {{ skuConfig.leastTerm3MonthlyPrice | currency}} / Mo.
                        </div>
                    </div>

                    <!--<p>Term 1 - {{ skuConfig.leastTerm1MonthlyPrice | currency}}, <br>Term 2 - {{ skuConfig.leastTerm2MonthlyPrice | currency}}, <br>Term 3 - {{ skuConfig.leastTerm3MonthlyPrice | currency}}</p>-->
                    <div flex="10">

                        <md-icon md-font-library="material-icons" ng-click="editSkuDialog(skuConfig,$event)"
                                 class="md-secondary md-hue-3" ng-show="skuConfig.showAction">edit
                        </md-icon>
                    </div>

                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>

        </div>
    </md-whiteframe>
</div>